/* basic CSS */

body {
  font: 100% Helvetica, sans-serif;
  /* main site blue */
  color: rgb(70, 135, 255); 
}

/* check for web width and things - bigger than tablets*/
header#webHead {
    margin-left: 20px;
    margin-right: 20px;
}

a.nav-item:hover{
  color: #69c6ff;
  background-color: darkblue;
}

.bigHero{
    background-color: #212121;
    color: white;
    /* margin:20px; */
}

.bigHero h1{
    font-size: 45px;
}

.bigHero p{
    margin-right: 5vw; 
    margin-left: 5vw;
    margin-top: 5vh;
    padding-bottom: 5vh;
    font-size: 25px;
}

.sectionHead{
  font-size: 35px;
}

.piece_descr{
  height: 25vh;
}

.icon_mid{
  margin-top: 35px;
  width: 6.5vw;
}

#Code_grid{
    /* background-color:rgb(70, 135, 255); */
    width: 100% !important;
}

.code_icon{
  width: 75px;
  height: 75px;
}

div#Code_grid {}

/* .animate {
    animation: slide-in 1s both;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
   */

/* animation classes for sliding */
  .reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom .75s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@media only screen and (max-width: 950px) {
    .bigHero p{
        margin-right: 10vw; 
        margin-left: 10vw;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
}

#resumeButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 15px;
}

/* .dropdown-content:hover {
    background: red;
  }
  
.main-header, dropdown-content:hover {
    display: block;
} */

/* RESPONSIVE */

@media only screen and (max-width: 714px) {

}