/* basic CSS */
/* 
@font-face {
  font-family: signingFont;
  font-family: 'Open Sans', sans-serif;

  src: url(.../assets/AngkanyaSebelas-VGPDB.ttf) format("ttf"); 
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,600&display=swap');
}

.signingText{
  font-family: signingFont !important;
} */

body {
  font: 100% Helvetica, sans-serif;
  /* main site blue */
  color: rgb(70, 135, 255); 
}

/* check for web width and things - bigger than tablets*/
header#webHead {
  /* sticky navbar */
  /* position: fixed; */
    margin-left: 20px;
    margin-right: 20px;
height: 10vh;
/* z-index: 1; */
}

a.nav-item:hover{
  color: #69c6ff;
  background-color: darkblue;
}

.bigHero{
    background-color: #212121;
    color: white;
    /* margin:20px; */
}

.bigHero h1{
    font-size: 45px;
}

.bigHero p{
    margin-right: 5vw; 
    margin-left: 5vw;
    margin-top: 5vh;
    padding-bottom: 5vh;
    font-size: 25px;
}

.sectionHead{
  font-size: 35px;
}

.piece_descr{
  height: 23vh;
}

.icon_mid{
  margin-top: 35px;
  margin-right: 10px;width: 6.5vw;
}

.project_card{
  background-color: rgb(248, 248, 248);
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  border-radius: 10px;
height: 45vh;}

#Code_grid{
    /* background-color:rgb(70, 135, 255); */
    width: 100% !important;
}

.code_icon{
  width: 75px;
  height: 75px;
}

div#Code_grid {}


/* animation classes for sliding */
  .reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom .75s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@media only screen and (max-width: 950px) {
    .bigHero p{
        margin-right: 10vw; 
        margin-left: 10vw;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .piece_descr{
      height: 20vh;
    }
}

/* scroll up to top!  */
#upButton{
  display: none;
  position: fixed;
  bottom: 150px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 50;
  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: rgb(67, 67, 255); */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
}

#resumeButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: none;
    padding-top: 15px;
    cursor: pointer;
    z-index: 50; 
    /* stack on top */
}

/* #resumeButton:hover{
  background-color: rgb(143, 143, 255);
} */

/* .dropdown-content:hover {
    background: red;
  }
  
.main-header, dropdown-content:hover {
    display: block;
} */

/* RESPONSIVE */

@media only screen and (max-width: 714px) {

}