/* basic CSS */

body {
  font: 100% Helvetica, sans-serif;
  /* main site blue */
  color: rgb(70, 135, 255); 
}

/* check for web width and things - bigger than tablets*/
header#webHead {
    margin-left: 20px;
    margin-right: 20px;
}

.bigHero{
    background-color: #212121;
    /* margin:20px; */
}

.bigHero h1{
    font-size: 45px;
}

.bigHero p{
    margin-right: 5vw; 
    margin-left: 5vw;
    margin-top: 5vh;
    padding-bottom: 5vh;
    font-size: 25px;
}

.piece_descr{
  height: 15vh;
}

#Code_grid{
    /* background-color:rgb(70, 135, 255); */
    width: 100% !important;
}

.code_icon{
  width: 75px;
  height: 75px;
}

div#Code_grid {}

.animate {
    animation: slide-in 1s both;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

@media only screen and (max-width: 950px) {
    .bigHero p{
        margin-right: 10vw; 
        margin-left: 10vw;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
}

#resumeButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 15px;
}

/* .dropdown-content:hover {
    background: red;
  }
  
.main-header, dropdown-content:hover {
    display: block;
} */

/* RESPONSIVE */

@media only screen and (max-width: 714px) {

}