body {
    font: 100% Helvetica, sans-serif;
    /* main site blue */
    /* color: rgb(123 222 123); */
    background-color: black;
}

header#webHead {
    margin-left: 20px;
    margin-right: 20px;
}

a.nav-item:hover{
    color: #69c6ff;
    background-color: darkblue;
  }

  .nav-link{
    color: white; 
  }

#projHead{
    margin-left: 20%;
    margin-right: 25%;
}

.projIntro{
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
}

#projHead{
    /* opacity: 0; */
    animation: fadeIn .75s  ;
}

/*@keyframes slideInAbove {
    0% {margin-top:-200px;}
    */
    /* 5% {margin-top:-200px;} */
    /* 33% {margin-top:-150px;} */
    /* 38% {margin-top:-100px;} */
    /* 66% {margin-top:-100px;} */
    /* 71% {margin-top:0px;} */
    /* 100% {margin-top:0px;} */
  
    @keyframes fadeIn {
        0% {opacity: 0%;}
        5% {opacity: 5%;}
        25% {opacity: 25%;}
        30% {opacity: 30%;}
        60% {opacity: 60%;}
        65% {opacity: 65%;}
        95% {opacity: 95%;}
        100% {opacity: 100%;}
    }

.vid_sect{
    width: 30vw;
}



/* scroll up to top!  */
#upButton{
    display: none;
    position: fixed;
    bottom: 150px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 50;
    font-size: 18px;
    border: none;
    outline: none;
    /* background-color: rgb(67, 67, 255); */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
  }

#resumeButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    padding-top: 15px;
}

.earmark_pics_div{
    /* align-items: center; *//* height: 75vh; */
}

/* get the card alignment */
/* .earmark_pics{
    height: 80vh; 
    width: 23vw; 
} */

img.earmark_pics {
    height: 80vh; 
    width: 23vw; 
}

.earmark_pics_div .card{
    align-items: center;
    /* background-color: black; */
}
.earmark_div_card{
    height: 13vh;
    font-size: 17px;
}

.sectionHead{
    font-size: 45px;
  }