
body {
    font: 100% Helvetica, sans-serif;
    /* main site blue */
    color: rgb(123 222 123);
}

header#webHead {
    margin-left: 20px;
    margin-right: 20px;
}

a.nav-item:hover{
    color: #69c6ff;
    background-color: darkblue;
  }

#projHead{
    margin-left: 20%;
    margin-right: 25%;
}

.projIntro{
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* Earmark CSS section */

.vid_sect{
    width: 30vw;
}

img.earmark_pics {
    width: 22vw;
}

#resumeButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 15px;
}

.earmark_pics_div{
    /* height: 75vh; */
}


